.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(130, 130, 130);
}
.buttons .columns{
    display: flex;
    justify-content: space-between;
    width: 425px;
    margin-top: 15px;
}
.bar-lable{
    background-color: rgb(161, 6, 6);
    width: 425px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bar{
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: black;
    font-size: 15PX;
}
.btn{
    margin-top: 7px;
}
.sm-font{
    font-size: 11px;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}