<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/bar2.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
</head>
<body onload="getPool()">
    <div class="options">
        <a class="restart option" href="/">restart</a>
    </div>
    <div class="screen">
        <div class="top">
            <div class="light med"><img src="{% static 'assets/table.png' %}" /></div>
            <div class="light med">Clear</div>
            <div class="light med">Split</div>
            <div class="light med"># Guests</div>
            <div class="light med" style="background-color: green; color: white; margin-left: 50px; margin-right: 50px;">Done</div>
            <div class="light med">Send Stay</div>
            <div class="light med">Send</div>
        </div>

        <div class="middle">
            <div class="display">

            </div>
            <div class="tabs">
                <a href="/apps">
                    <div class="dark lg" >APPS</div>
                </a>
                <a href="/soups">
                    <div class="dark lg">SOUPS n SALADS</div>
                </a>
                <a href="/steaks">
                    <div class="dark lg">STEAKS</div>
                </a>
                <a href="/seafood">
                    <div class="dark lg">SEAFOOD</div>
                </a>
                <a href="/addons">
                    <div class="dark lg">ADD-ONS</div>
                </a>
                <a href="/sides">
                    <div class="dark lg">SIDES</div>
                </a>
                <a href="/desserts">
                    <div class="dark lg">DESSERTS</div>
                </a>
                <a href="/bar">
                    <div class="blue lg">BAR</div>
                </a>
                <a href="/wine">
                    <div class="dark lg">WINE</div>
                </a>
                <a href="/page2">
                    <div class="dark lg"><i class="fa-solid fa-sort-down"></i></div>
                </a>
            </div>

            <!-- BUTTONS -->
            <div class="buttons">
                <div class="bar-lable">VODKA</div>
                <div class="columns">
                    <div class="left">
                        <div class="bar btn" onclick="toggle(this)">BANDY</div>
                        <div class="bar btn" onclick="toggle(this)">BB</div>
                        <div class="bar btn" style="font-size: 14px;" onclick="toggle(this)">MARTELL CORDON BLEU</div>
                        <div class="bar btn" onclick="toggle(this)">LOUIS  1/2oz</div>
                        <div class="bar btn"></div>
                        <div class="bar btn"></div>
                        <div class="bar btn"></div>
                    </div>
                    <div class="left-c">
                        <div class="bar btn" onclick="toggle(this)">COURVOISIER</div>
                        <div class="bar btn" onclick="toggle(this)">HENNESSEY VS</div>
                        <div class="bar btn"></div>
                        <div class="bar btn" onclick="toggle(this)">LOUIS XIII 1oz</div>
                        <div class="bar btn"></div>
                        <div class="bar btn"></div>
                        <div class="bar btn green"></div>
                    </div>
                    <div class="right-c">
                        <div class="bar btn" onclick="toggle(this)">GRAND MARNIER</div>
                        <div class="bar btn" onclick="toggle(this)">HENNESSEY XO</div>
                        <div class="bar btn" onclick="toggle(this)">REMY MAR XO</div>
                        <div class="bar btn" onclick="toggle(this)">LOUIS XIII</div>
                        <div class="bar btn"></div>
                        <div class="bar btn"></div>
                        <div class="bar btn green"></div>
                    </div>
                    <div class="right">
                        <div class="bar btn" onclick="toggle(this)">GRAND MARNIER CENTENAIRE</div>
                        <div class="bar btn"></div>
                        <div class="bar btn" onclick="toggle(this)">REMY MAR VSOP</div>
                        <div class="bar btn"></div>
                        <div class="bar btn"></div>
                        <div class="bar btn"></div>
                        <a href="/bar">
                            <div class="bar btn red">RETURN</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="bottom">
            <div class="light med">Close</div>
            <div class="light med" style="margin-right: 300px;">Add</div>
            <div class="light sm"><p>Save</p> <p>Card</p></div>
            <div class="light sm">Quantitiy</div>
            <div class="light sm">Repeat</div>
            <div class="light sm">Modify</div>
            <div class="light sm">Delete</div>
            <div class="light sm" style="color: white;">Reprint Check</div>
            <div class="light sm">Send</div>
            <div class="light sm"><p>Send</p> <p>Stay</p></div>
        </div>

    </div>
    

    <script src="{% static 'js/global.js' %}"></script>
</body>
</html>