<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
</head>
<body onload="getPool()">
    <div class="options">
        <a class="restart option" href="/">restart</a>
    </div>
    <div class="screen">
        <div class="top">
            <div class="light med"><img src="{% static 'assets/table.png' %}" /></div>
            <div class="light med">Clear</div>
            <div class="light med">Split</div>
            <div class="light med"># Guests</div>
            <div class="light med" style="background-color: green; color: white; margin-left: 50px; margin-right: 50px;">Done</div>
            <div class="light med">Send Stay</div>
            <div class="light med">Send</div>
        </div>

        <div class="middle">
            <div class="display">
                
            </div>
            <div class="tabs">
                <a href="/page1">
                    <div class="dark lg"><i class="fa-solid fa-sort-up"></i></div>
                </a>
                <a href="/soups">
                    <div class="dark lg">OPEN ITEM</div>
                </a>
                <a href="/steaks">
                    <div class="dark lg">GIFTCARD</div>
                </a>
                <a href="/seafood">
                    <div class="dark lg">PD</div>
                </a>
                <a href="/addons">
                    <div class="dark lg hide">ADD-ONS</div>
                </a>
                <a href="/HH">
                    <div class="dark lg">HH FOOD</div>
                </a>
                <a href="/HHfood_2">
                    <div class="dark lg">HH Food_2</div>
                </a>
                <a href="/HHdrinks">
                    <div class="blue lg">HH DRINKS</div>
                </a>
                <a href="/wine">
                    <div class="dark lg">Fire 2nd Course</div>
                </a>
                <a href="/page2">
                    <div class="dark lg"><i class="fa-solid fa-sort-down"></i></div>
                </a>
            </div>

            <!-- BUTTONS -->
            <div class="buttons">
                <div class="left">
                    <!-- <div class="light btn" onclick="toggle(this)">FREIXENET HH</div> -->
                    <div class="light btn" onclick="toggle(this)">BZT HH</div>
                    <div class="light btn" onclick="toggle(this)">MARTINI HH</div>
                    <div class="light btn" onclick="toggle(this)">EMMOLO HH</div>
                    <div class="light btn hide" onclick="toggle(this)"></div>
                    <div class="light btn hide" onclick="toggle(this)"></div>
                    <div class="light btn hide" onclick="toggle(this)"></div>
                    <a href="/HHdrinks">
                        <div class="light btn"><i class="fa-solid fa-sort-up"></i></div>
                    </a>
                </div>
                <div class="center">
                    <div class="light btn hide" onclick="toggle(this)"></div>
                </div>
                <div class="right">
                    <div class="light btn hide" onclick="toggle(this)"></div>
                </div>
            </div>
        </div>


        <div class="bottom">
            <div class="light med">Close</div>
            <div class="light med" style="margin-right: 300px;">Add</div>
            <div class="light sm"><p>Save</p> <p>Card</p></div>
            <div class="light sm">Quantitiy</div>
            <div class="light sm">Repeat</div>
            <div class="light sm">Modify</div>
            <div class="light sm">Delete</div>
            <div class="light sm" style="color: white;">Reprint Check</div>
            <div class="light sm">Send</div>
            <div class="light sm"><p>Send</p> <p>Stay</p></div>
        </div>

    </div>
    

    <script src="{% static 'js/global.js' %}"></script>
</body>
</html>